<form asp-controller="Customers" asp-action="Index">
	<fieldset>
		<legend>Start</legend>
		<h1>Welcome, Press Start to Begain</h1>
		<button><a href="/Customers/Index">Customers</a></button>
	</fieldset>
</form>